h1 {
    font-size: 65px;
    text-align: center;
    background: rgb(204, 233, 245);
}
h2 { 
    font-size: 60;
    background: rgb(204, 233, 245);
}
body { text-align: center; 
}
.cuerpo li {
    list-style: none;
} 
.principal img {
   
    

}